body{
    margin: 0;
   
}
.container{
    height: 100vh;
 
    display: grid;
    grid-template-rows: 10vh 1fr 10vh;
    
}
.header{
    
}

.main{
    position: relative;
    
}
.search{
    position: relative;
    width: 50%;
    margin:auto;
    
    
    top: 15%;
   
}
.main-search{
    display: block;
    
    width: 60%;
    height: 5%;
   margin: auto auto 2em auto;
    position: relative;
    border-radius: 40px;
   

}
.main-search:focus{
    border-radius: 40px;
   
}

.btns{
    display: block;
    position: relative;
    width: fit-content;
    margin:auto;

}
.btns input{
    height: 2.4em;
    border: none;
    color:#5f6368
    background-color: #f2f2f2;
}

.g-search{
    margin-right: 25px;
    color:#5f6368
    background-color: #f2f2f2;
    
}
.img-holder{
    display: block;
    width: fit-content;
    margin:auto;
}



.logo{
    height: 92px;
    width: 272px;
    margin-bottom: 2em;

   
  

}
@media (max-width:700px){
.logo{
    max-width: 50%;
}
}


.footer{
 
}
