*{
    margin: 0;
    padding:0;
    -webkit-appearance: none
}
body{
    margin: 0;
    overflow: hidden;
    font-family: arial,sans-serif;
}
.container{
    height: 100vh;

    display: grid;
    grid-template-rows: 10vh 1fr 10vh;

}
.nav{
    margin-right: 10px;
    font-size: 14px;
    padding-top: 5px;
    margin-right: 20px;
    margin-top: 10px;
}
.nav ul{
    display: flex;
    
    

  
    flex-direction: row;
    
    justify-content: flex-end;
    margin: auto;
    text-decoration: none;
    list-style: none;

}

.nav li{
    cursor: pointer;
}
li{
    margin-left:20px;
    margin-top: 10px;
}

.main{
    position: relative;

}
.search{
    position: relative;
    width: 50%;
    margin:auto;
    


    top: 15%;

}

.srch{
  position: absolute;
  width: 60%;
  border-style: solid;
  border-color: gray;
  height: 45px;
  left: 50%;
  margin-bottom: 1em;
  border-radius: 40px;
  transform: translateX(-50%);
  border-width: 1px;
  border-color: lightgrey;
}

.srch:hover{

    box-shadow:0 1px 6px rgba(32,33,36,0.28);
}

.main-search{


    position: absolute;
    width: 80%;

    height: 100%;
    border-radius: 40px;
    left: 34px;
    border-style: hidden;


}
.main-search:focus{
    
    outline: none;
   


}
.fas , .fa-search{
    margin-top: 1%;
    margin-left: 2%;
    color:#9aa0a6;
}
 .fa-microphone{
     margin-left: 90%;
     margin-top: 2%;
 }

.btns{
    display: block;
    position: absolute;
    width: fit-content;
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
    



}

.btns input{
    height: 2.7em;
    border: none;
    color:#5f6368;
    background-color: #f2f2f2;
    padding:10px;
    cursor: pointer;
}

.g-search{
    margin-right: 25px;
    color:#5f6368;
    background-color:#f2f2f2;
}
.g-search:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);;
}
.g-search:focus{
    border: 1px solid #4d90fe;;
}

.img-holder{
    display: block;
    width: 500px;
    padding-left: 25%;
    margin:auto;
}



.logo{
    height: 92px;
    width: 272px;
    margin-bottom: 2em;




}
@media (max-width:700px){
.logo{
    max-width: 50%;
}
}
.footer{
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 8%;
}
.footer-upper{
    width: 100%;
    height: 50%;
    background-color: #f2f2f2;
    border-top:#e4e4e4;
    border-bottom:#e4e4e4;
    border-style: solid;
    border-width: 0.5px;
    padding-left:2%;
    border-left: hidden;
    color: rgb(0 0 0 / 54%);
    font-family: arial,sans-serif;
    

}
.footer-nav{
    width: 100%;
    height: 50%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;

}
.right{
    width: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: space-evenly;
    margin-right: 2em;
    
}
.right a{
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
}

.left{
    display: flex;
    margin-left: 1%;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 20%;
}
.left a{
    text-decoration: none;
    color:#5f6368;
    font-size: 14px;

}

.sign-in{
   
    text-decoration: none;
    background: #4285f4;
    font-family: Arial,sans-serif;
    padding:0.5em 0.7em;
    border-radius: 3px;
    cursor: default;
 
 
  
    color: white;
}